<ion-header [translucent]="true" mode="ios" class="ion-no-border" *ngIf="(store$ | async) as store">
  <ion-toolbar mode="ios">
    <ion-title>{{ store.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="(store$ | async) as store">
  <div class="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <app-slider [store]="store"></app-slider>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of categories$ | async">
        <ion-col size="12">
          <ion-label>
            <h1 class="titulo-categories">{{ item.name }}</h1>
          </ion-label>
          <app-product-list [store]="store.slug" [category]="item" *ngIf="item.type === 'list'"></app-product-list>
          <app-product-card *ngIf="item.type === 'card'"></app-product-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar color="primary" mode="ios">
    <ion-button (click)="onAddress()" expand="block" color="dark" size="small" fill="clear">
      Mi Dirección
    </ion-button>
  </ion-toolbar>
</ion-footer>
